<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dynamic Web Application NodeJS/Express</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

{{{body}}}

</body>
</html>